b.nu {
  color: black;
  background: #ffffcc;
}

strong.nu {
  color: black;
  background: #ffffcc;
}

b.i {
  color: black;
  background: #ffffcc;
  text-decoration: none;
}

strong.i {
  color: black;
  background: #ffffcc;
  text-decoration: none;
}

.navbar {
  border: none;
  width: 100%;
  color: black;
  background: #ffffcc;
  text-align: center;
}

div.example {
  border: none;
  color: black;
  background: #eeeeee;
}

pre.example {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  background: #eeeeee;
}

div.about {
  border: none;
  color: black;
  width: 100%;
  background: #ffffcc;
}

pre.about {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  background: #ffffcc;
}

.alert {
  color: red;
  background: white;
}

pre { font-family: monospace }        /* navigator 4 requires this */
